.chat-main
  .chat-main__group-info
    .left-box
      .left-box__group-name
        = @group.name
      .left-box__member-list
        Member：
        - @group.users.each do |user|
          = user.name
          -# groupの中に、複数のuserがいるのでeach文でだしている
          -# message_controllerで取得した@groupからusersを取得
          -# そこからuserのnameカラム情報を出力

    .right-box
      = link_to 'Edit', edit_group_path(@group), class: "edit-btn"
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    .new-message
      .input-box
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: 'new_message__text', placeholder: 'type a message'
          = f.label :image, class: 'new_message__image' do
            = icon('far', 'image', class: 'new_message__image__btn')
            = f.file_field :image, class: 'new_message__image__file'
          = f.submit 'Send', class: 'send-btn'
