.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons__btn
        = link_to new_group_path, class: "icon" do
          = icon('fas', 'edit', class: "btn")
        %li.top-items__icons__btn
        = link_to edit_user_path(current_user), class: "icon" do
          = icon('fas', 'cog', class: "btn")
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "group-link" do
          .group__name
            = group.name
          .group__latest-message
            = group.show_last_message
